:root{
    --primary-color: #211f38;
    --primary-light-color: #737092;
    --secondary-color: #7166f5;
    --background-color: #ffffff;
    --text-color: #000000;
    --accent-color: #d0ccff;
    --card-read-more: #737092;
    --primary-dark-color: #121026;
}